body {
  background-color: black;
}

.calculadora {
  display: grid;
  margin-top: 175px;
  margin-left: 50px;
  margin-right: 50px;
  border: 10px peachpuff solid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(10, 50px);
}

#pantalla {
  background-color: lightyellow;
  border: 1px solid;
  grid-column: 1 / 5;
  grid-row: 1 / 5;
  text-align: center;
  align-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tecla,
.operador,
#del,
#borrar {
  background-color: white;
  border: 1px solid;
  text-align: center;
  align-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tecla:hover,
.operador:hover,
#del:hover,
#borrar:hover,
#teclaIgual:hover {
  background-color: lightgray;
}

#teclaIgual {
  background-color: white;
  border: 1px solid;
  grid-column: 1 / 5;
  grid-row: 9 / 11;
  text-align: center;
  align-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}